<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildYourHoliday"
        tools:targetApi="31">
        <activity
            android:name=".AmadeusTesting"
            android:exported="true" >

        </activity>
        <activity
            android:name=".AmadeusAsync"
            android:exported="true" >

        </activity>

        <activity
            android:name=".LanguageActivity">
        </activity>

        <activity android:name=".AssistanceActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".ConditionOfUseActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".ChangeEmailActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name= ".MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="true" />


        <!-- Intent filter per avviare Google Maps -->
        <activity android:name="com.google.android.maps.MapsActivity"
            tools:ignore="MissingClass"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- URI schema per avviare Google Maps -->
                <data android:scheme="geo" />
            </intent-filter>
        </activity>

    </application>

</manifest>